.main { width:880px; margin:0 auto; text-align:left;}

#header {height:8px; background:url(images/header_top.gif)/*tpa=http://www.navigator-logistics.com/images/header_top.gif*/ top repeat-x;}

#middle { background:url(images/middle_tall.gif)/*tpa=http://www.navigator-logistics.com/images/middle_tall.gif*/ top repeat-x;}

#footer { height:80px;}

.column1, .column2, .column3, .col1, .col2, .col3 {float:left;}
.container {width:100%;}

/* ============================= index ===========================*/

#index .row1 .column1 {width:263px;}
#index .row1 .column2 {width:263px;}
#index .row1 .column3 {width:258px;}

#index .row2 {background:url(images/line.gif)/*tpa=http://www.navigator-logistics.com/images/line.gif*/ repeat-y 522px 0;}
#index .sub_line {background:url(images/pseudo_line.gif)/*tpa=http://www.navigator-logistics.com/images/pseudo_line.gif*/ no-repeat 522px 0;}
#index .indent {background:url(images/pseudo_line.gif)/*tpa=http://www.navigator-logistics.com/images/pseudo_line.gif*/ no-repeat 522px bottom;}
#index .row2 .column1 {width:524px;}
#index .row2 .column2 {width:210px;}

#index .col1 {width:207px; text-align:center;}
#index .col2 {width:292px; text-align:center;}

/* ============================= index-1 ===========================*/

#index_1 .row1 .column1 {width:526px;}
#index_1 .row1 .column2 {width:258px;}

#index_1 .row2 {background:url(images/line.gif)/*tpa=http://www.navigator-logistics.com/images/line.gif*/ repeat-y 522px 0;}
#index_1 .sub_line {background:url(images/pseudo_line.gif)/*tpa=http://www.navigator-logistics.com/images/pseudo_line.gif*/ no-repeat 522px 0;}
#index_1 .indent {background:url(images/pseudo_line.gif)/*tpa=http://www.navigator-logistics.com/images/pseudo_line.gif*/ no-repeat 522px bottom;}
#index_1 .line2 {background:url(images/line.gif)/*tpa=http://www.navigator-logistics.com/images/line.gif*/ repeat-y 261px 0;}
#index_1 .sub_line2 {background:url(images/pseudo_line.gif)/*tpa=http://www.navigator-logistics.com/images/pseudo_line.gif*/ no-repeat 261px 0;}
#index_1 .sub_line3 {background:url(images/pseudo_line.gif)/*tpa=http://www.navigator-logistics.com/images/pseudo_line.gif*/ no-repeat 261px bottom;}

#index_1 .row2 .column1 {width:265px;}
#index_1 .row2 .column2 {width:259px;}
#index_1 .row2 .column3 {width:212px;}

#index_1 .col1 {width:207px; text-align:center;}
#index_1 .col2 {width:292px; text-align:center;}

/* ============================= index-2 ===========================*/

#index_2 .column1 {width:266px;}
#index_2 .column2 {width:516px;}

/* ============================= index-3 ===========================*/

#index_3 .row2 {background:url(images/line.gif) repeat-y 282px 0;}
#index_3 .sub_line {background:url(images/pseudo_line.gif) no-repeat 282px 0;}
#index_3 .indent {background:url(images/pseudo_line.gif) no-repeat 282px bottom;}

#index_3 .row2 .column1 {width:281px;}
#index_3 .row2 .column2 {width:452px;}

#index_3 .col1 {width:253px;}
#index_3 .col2 {width:257px;}
#index_3 .col3 {width:229px;}

/* ============================= index-4 ===========================*/

#index_4 .column1 {width:526px;}
#index_4 .column2 {width:258px;}

/* ============================= index-5 ===========================*/